@charset "utf-8";
/* CSS Document */
/* Original Style */

body {
font-family:"Roboto Slab", "Rounded Mplus 1c", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
color:#630;
}

header {
	padding-top: 20px;
	padding-bottom: 30px;
}

footer {
	padding-top: 20px;
	padding-bottom: 10px;
}

/* row style */

.main-pic {
	margin-bottom: 50px;
}

.main-script {
	margin-top: 50px;
	margin-bottom: 100px;
	font-size: 16px;
}


.single-line {
	display: inline-block;
}


/* img style */
.instaPic {
	max-width: 100%;
	margin-bottom: 30px;
}